<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %> 
  <%= stylesheet_link_tag 'resetcss', media: 'all' %>
  <%= stylesheet_link_tag 'form', media: 'all' %>
  <% token = params[:reset_password_token]%>
  <% params[:reset_password_token] = token%>
</head>
<body>
<%= render "devise/shared/error_messages", resource: resource %>

  <div class="container-form">
    <div class="form-infos">
      <div style = 'text-align: center;'>
        <%="Olá, #{User.with_reset_password_token(token).nome.split.map(&:capitalize).join(' ')}!"%> <br />
        <br><%="Defina sua senha nos espaços abaixo."%><br />
      </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
    
      <div class="field">
        <%= f.label :password, "Senha" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "Confirma a Senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
       
      <div class="actions">
        <%= f.submit "Definir Senha" %>
      </div>


    <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="form-mensagem">
      <h1>Definir</h1>
      <h1>sua</h1>
      <h1>Senha</h1>
    </div>
  </div>
</body>
</html>