<div class="container">
  <h1 class="text-center"><i>Gerenciamento</i></h1>
  <h4 class="text-center"><i>Semestre Atual: <%= current_semester? %></i></h4>
  <br>
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>
    <% if flash[:error] %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>

  <div class="custom-button-container">
    <%= button_to "Enviar Email de Cadastro para Alunos", send_email_availables_sign_up_path, method: :post, class: "btn btn-outline-primary btn-block" %>
    <br>
   <%= button_to "Importar Dados e Iniciar um Novo Semestre", import_from_sigaa_path, method: :post, class: "btn btn-outline-primary btn-block" %>
    <br>
    <%= button_to "Atualziar Dados do Semestre Atual", update_sigaa_data_path, method: :post, class: "btn btn-outline-primary btn-block" %>
    <br>
    <%= button_to "Editar Templates", root_path, method: :get, class: "btn btn-outline-primary btn-block" %>
    <br>
    <%= button_to "Enviar Formulários", to_send_templates_path, method: :get, class: "btn btn-outline-primary btn-block" %>
    <br>
    <%= button_to "Gerar CSV de Resultados deste Semestre", semesters_current_path(format: :csv), method: :get, class: "btn btn-outline-primary btn-block" %>
    <br>
    <%= button_to "Gerar CSV de Resultados de todos os Semestres", semesters_path(format: :csv), method: :get, class: "btn btn-outline-primary btn-block" %>
  </div>
</div>
