<%= form_with(model: turma) do |form| %>
  <% if turma.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
        <% turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :classCode, style: "display: block" %>
    <%= form.text_field :classCode %>
  </div>

  <div>
    <%= form.label :semestre, style: "display: block" %>
    <%= form.text_field :semestre %>
  </div>

  <div>
    <%= form.label :materia, style: "display: block" %>
    <%= form.text_field :materia %>
  </div>

  <div>
    <%= form.label :id_professor, style: "display: block" %>
    <%= form.number_field :id_professor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
