<div id="<%= dom_id turma %>">
  <p>
    <strong>Classcode:</strong>
    <%= turma.classCode %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= turma.semestre %>
  </p>

  <p>
    <strong>Materia:</strong>
    <%= turma.materia %>
  </p>

  <p>
    <strong>Id professor:</strong>
    <%= turma.id_professor %>
  </p>

</div>
