<%=render '/navbar/navbar'%>

<div class="button-container">
  <%= link_to 'Importar Dados', controller: 'uploader' %>
  <%= link_to 'Editar Templates', controller: 'gerenciamento', action:"show_templates" %>
  <%= link_to 'Enviar Formulários', controller: 'turmas' %>
  <%=render 'gerenciamento/resultados_button'%>
</div>
