<%=render '/navbar/navbar'%>

<% if @templates.empty? %>
    <h1 style="margin-left: auto; margin-right: auto; width: fit-content; margin-top: 1rem">Não existem templates criados</h1>
<% else %>
    <div class="grid-container" style="padding: 1rem">
        <% @templates.each do |template| %>
            <% if template["active"] == 1 %>
                <div class="card">
                    <h2><%= template["name"] %></h2>
                    <div class="svgs">
                        <a><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M224,128v80a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h80a8,8,0,0,1,0,16H48V208H208V128a8,8,0,0,1,16,0Zm5.66-58.34-96,96A8,8,0,0,1,128,168H96a8,8,0,0,1-8-8V128a8,8,0,0,1,2.34-5.66l96-96a8,8,0,0,1,11.32,0l32,32A8,8,0,0,1,229.66,69.66Zm-17-5.66L192,43.31,179.31,56,200,76.69Z"></path></svg></a>
                        <%= form_for :template, url: { controller: "template", action: "delete_template" }, remote: true do |form| %>
                            <%= form.hidden_field :delId, value: template["id"] %>
                            <%= form.submit "Apagar" %>
                        <% end %>
                          
                          
                    </div>    
                </div>
            <% end %>
        <% end %>
        
        <div class="card plus-card">
            <a href="../template">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
            </a>
        </div>
    </div>
<% end %>

<script>
  myFunction = () => {
    
  }
</script>

<style>
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card h2 {
        width: fit-content;
    }
    .card .svgs {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
    }
    .card .svgs a:first-child svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: -0.125rem;
    }
    .card .svgs a:last-child svg {
        width: 1.25rem;
        height: 1.25rem;
    }
    .card.plus-card {
        justify-content: center;
    }
    .card.plus-card svg {
        width: 3rem;
        height: 3rem;
    }
</style>