<div class="flex flex-col p-8 bg-[#DBDBDB] rounded-lg">
  <span><%= question[:index] + 1 %>. <%= question[:title] %></span>
  <% if question[:type] == "text" %>
    <div class="flex w-full p-4">
      <%= form.text_field(question[:index], class: "w-full p-2 rounded-lg")  %>
    </div>
  <% elsif question[:type] == "radio" %>
    <%= render partial: 'radio_answer', :locals => {
      form: form, question_id: question[:index], options: JSON.parse(question[:content])
    } %>
  <% elsif question[:type] == "dropdown" %>
    <%= render partial: 'dropdown_answer', :locals => {
      form: form, question_id: question[:index], options: JSON.parse(question[:content])
    } %>
  <% end %>
</div>