<p style="color: green"><%= notice %></p>

<%= render @departamento %>

<div>
  <%= link_to "Edit this departamento", edit_departamento_path(@departamento) %> |
  <%= link_to "Back to departamentos", departamentos_path %>

  <%= button_to "Destroy this departamento", @departamento, method: :delete %>
</div>
