<%= form_with(model: template) do |form| %>
  <% if template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(template.errors.count, "erro") %> imperdiram o template de ser salvo:</h2>

      <ul>
        <% template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Título:", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <br>

  <div id="questions">
    <%= form.fields_for :questions do |question_form| %>
      <%= render "questions/form", form: question_form %>
    <% end %>
  </div>

  <br>

  <%= form.submit "Adicionar questão",
                  formaction: question_path(@template.questions.size),
                  formmethod: :post,
                  formnovalidate: true,
                  id: "add-question" %>

  <br> <br>

  <div>
    <%= form.submit "Criar template"%>
  </div>
<% end %>
