<h1>Templates</h1>

<% @templates.each do |template| %>
    <b>Semestre</b>: <%= template.semester.half ? 1 : 2 %>-<%= template.semester.year %>
    <% template.questions.each do |question| %>
        <h3>
            <%= question.label %>
        </h3>
        <p>
        <%= question.description %>
        <!-- Render question input method -->
        <%= render partial: 'partials/question_input', locals: { question: } %>
        </p>
    <% end %>
    <hr>
<% end %>
