<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="formbold-form-wrapper">
        <div class="formbold-mb-5">
          <%= form_with model: @template_question, url: template_template_question_path(@template, @template_question), method: :put do |f| %>
            <div class="form-group row">
              <%= f.label :title, "Título:", class: "col-sm-2 col-form-label"%>
              <div class="col-sm-10">
                <%= f.text_field :title,  value: @template_question.title,class:"form-control"%>
              </div>
            </div>
            <div>
              <%= f.label :question_type, "Tipo de questão:" %>
              <%= f.select :question_type, options_for_select([['Selecione', nil], ['Múltipla escolha', 'multiple_choice'], ['Texto', 'text']], selected: @question_type), {}, id: "question_type" %>
            </div>
            <div id="choices_field" style="display: none;">
              <span>
                <%= f.label :options_number, "Número de opções:" %>
                <%= f.select :options_number, options_for_select(1..5, selected: @options_number), {}, id: "options_number" %>
              </span>
              <div id="options_fields">
                <% 5.times do |i| %>
                  <div style="display: none;" id="option<%= i %>_field">
                    <%= f.label "option#{i+1}", "Opção #{i+1}" %>
                    <%= f.text_field :options, id: "option#{i+1}", name: "options[]", value: @options[i] %>
                  </div>
                <% end %>
              </div>
            </div>
            <br>
            <div>
              <%= f.button "Cancelar", class:"btn btn-danger btn-sm",name: "commit", value: "cancel", id: "cancel" %>
              <%= f.submit "Salvar", class:"btn btn-success btn-sm"%>
            </div>
          <% end %>
          <% flash.each do |type, messages| %>
            <% css_class = case type.to_sym
                when :notice then 'alert alert-success'
                when :alert then 'alert alert-danger'
                when :error then 'alert alert-danger'
                else 'alert alert-warning'
                end %>
            <% messages.each do |m| %>
              <p class="<%= css_class %>">
                <%= m %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- END MAIN CONTENT-->