<%= link_to 'voltar', edit_template_path(@template) %>
<%= form_with method: :get do |f| %>
  <div>
    <%= f.label :title, "Título:" %>
    <%= f.text_field :title, id: "question_title", value: @title %>
  </div>
  <div>
    <%= f.label :question_type, "Tipo de questão:" %>
    <%= f.select :question_type, options_for_select([['Selecione', nil], ['Múltipla escolha', 'multiple_choice'], ['Texto', 'text']], selected: @question_type), {}, id: "question_type" %>
  </div>
  <div id="choices_field" style="display: none;">
    <%= f.label :options_number, "Número de opções:" %>
    <%= f.select :options_number, options_for_select(1..5, selected: @options_number), {}, id: "options_number" %>
  </div>
  <div id="options_container"></div>
  <div>
    <%= f.button "Cancelar", name: "commit", value: "cancel", id: 'cancel' %>
    <%= f.button "Adicionar", name: "commit", value: "save", id: "add" %>
  </div>
<% end %>
<%= @errors %>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const options = <%= raw @options.to_json %>;
    const questionTypeElement = document.getElementById('question_type');
    const choicesField = document.getElementById('choices_field');
    const optionsNumberElement = document.getElementById('options_number');
    const optionsContainer = document.getElementById('options_container');
    function toggleChoicesField() {
      if (questionTypeElement.value === 'multiple_choice') {
        choicesField.style.display = 'block';
        generateOptionFields();
      } else {
        choicesField.style.display = 'none';
        optionsContainer.innerHTML = '';
      }
    }

    function generateOptionFields() {
      optionsContainer.innerHTML = '';
      const numberOfOptions = parseInt(optionsNumberElement.value, 10);
      for (let i = 1; i <= numberOfOptions; i++) {
        const optionDiv = document.createElement('div');
        optionDiv.className = 'option-field';
        const label = document.createElement('label');
        label.textContent = `Opção ${i}:`;
        const input = document.createElement('input');
        input.type = 'text';
        input.name = `options[]`;
        input.id = `option${i}`;
        input.value = options[i - 1] !== undefined ? options[i - 1] : '';
        optionDiv.appendChild(label);
        optionDiv.appendChild(input);
        optionsContainer.appendChild(optionDiv);
      }
    }

    // Initial check in case the form is pre-filled
    toggleChoicesField();

    // Add event listeners to handle changes
    questionTypeElement.addEventListener('change', toggleChoicesField);
    optionsNumberElement.addEventListener('change', generateOptionFields);
  });
</script>
