<p style="color: green"><%= notice %></p>

<%= render @questao %>

<div>
  <%= link_to "Edit this questao", edit_questao_path(@questao) %> |
  <%= link_to "Back to questoes", questoes_path %>

  <%= button_to "Destroy this questao", @questao, method: :delete %>
</div>
