<% method = 'post' unless !method.nil? %>
<% disabled = false if disabled.nil? %>

<%= form_with method:, scope: :questions do |form| %>
    <% templatelike.questions.each do |question| %>
        <h3><%= question.label %></h3>
        <%= question.description %>
        <br>
        <% if question.input? %>
            <%= render partial: 'partials/question_input', locals: { question:, form:, disabled: } %>
        <% end %>
    <% end %>
    <br>
    <%= form.submit 'Salvar', disabled: %>
<% end %>