<h1>Cadastro</h1>


<%= Aluno.find(params["id_aluno"]).nome %>

<br>



<%= form_for :senha, url: "/telas/cadastro_aluno", method: :post do |form| %>

  <%= form.hidden_field :id, value: Aluno.find(params["id_aluno"]).id %>
  <br>
  <br>
  <%= form.label :senha, "Senha:" %>
  <%= form.text_field :senha %>
  <%= form.submit "confirmar" %>
<% end %>
