<div class="h-screen w-full flex flex-row justify-between">
  <div class="flex h-full w-full items-center justify-center bg-white">
    <div class="flex flex-col gap-8 p-12 lg:p-32 w-full justify-center">
      <span class="text-center text-6xl lg:text-4xl text-bold text-slate-700 uppercase">Login</span>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="flex flex-col gap-8 lg:gap-4">
          <div class="field flex flex-col gap-2">
            <%= f.label :password, "Senha" ,class: "text-3xl lg:text-base" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "p-8 lg:p-4 text-4xl lg:text-xl border border-slate-400 rounded-lg" %>
          </div>

          <div class="field flex flex-col gap-2">
            <%= f.label :password_confirmation, "Confirme a senha", class: "text-3xl lg:text-base" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "p-8 lg:p-4 text-4xl lg:text-xl border border-slate-400 rounded-lg" %>
          </div>

          <div class="actions flex justify-center hover:opacity-75 hover:cursor-pointer bg-green-500 w-full rounded-lg p-8 lg:p-4">
            <%= f.submit "Alterar senha", :class => 'text-6xl lg:text-2xl text-white hover:cursor-pointer' %>
          </div>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="hidden lg:flex lg:w-2/3 h-full items-center justify-center bg-[#6C2365]">
    <span class="text-6xl text-center font-bold text-white">Bem vindo ao Camaar</span>
  </div>
</div>