<div id="<%= dom_id usuario %>">
  <p>
    <strong>Matricula:</strong>
    <%= usuario.matricula %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Formacao:</strong>
    <%= usuario.formacao %>
  </p>

</div>
