<!-- app/views/usuarios/show.html.erb -->
<p>
  <strong>Matricula:</strong>
  <%= @usuario.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Formacao:</strong>
  <%= @usuario.formacao %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
