<%= form_with(model: template) do |form| %>
  <% if template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
        <% template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :codigo, style: "display: block" %>
    <%= form.text_field :codigo %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :semestre, style: "display: block" %>
    <%= form.text_field :semestre %>
  </div>

  <div>
    <%= form.label :id_usuario, style: "display: block" %>
    <%= form.number_field :id_usuario %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
