<div id="<%= dom_id template %>">
  <p>
    <strong>Codigo:</strong>
    <%= template.codigo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= template.nome %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= template.semestre %>
  </p>

  <p>
    <strong>Id usuario:</strong>
    <%= template.id_usuario %>
  </p>

</div>
