<!DOCTYPE html>
<html>
<head>
  <title>Página de Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <h1 class="text-center"><i>Quick Class Eval</i></h1>
  <br>

  <div class="card p-4">
    <%= form_with url: '/process_login', method: :post do |form| %>
      <div class="form-group">
        <label for="email">Email:</label>
        <%= form.text_field :email, id: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <label for="password">Senha:</label>
        <%= form.password_field :password, id: "password", class: "form-control" %>
      </div>

      <%= form.submit "Entrar", class: "btn btn-primary" %>
    <% end %>

   <% if flash.now[:error] %>
     <p class="text-center" style="color: red;"><%= flash[:error] %></p>
    <% end %>
    
    <p class="text-center"><a href="<%= create_path %>">Primeiro acesso? Cadastre-se aqui!</a></p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>