<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Camaar</title>

    <!-- Fontfaces CSS-->
    <%= stylesheet_link_tag "font-face.css",  media: "all" %>
    <%= stylesheet_link_tag "font-awesome-4.7/css/font-awesome.min.css",  media: "all" %>
    <%= stylesheet_link_tag "font-awesome-5/css/fontawesome-all.min.css",  media: "all" %>
    <%= stylesheet_link_tag "mdi-font/css/material-design-iconic-font.min.css",  media: "all" %>

    <!-- Bootstrap CSS-->
    <%= stylesheet_link_tag "bootstrap-4.1/bootstrap.min.css",  media: "all" %>
    <!-- Vendor CSS-->
    <%= stylesheet_link_tag "animsition/animsition.min.css",  media: "all" %>
    <%= stylesheet_link_tag "bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css",  media: "all" %>
    <%= stylesheet_link_tag "css-hamburgers/hamburgers.min.css",  media: "all" %>
    <%= stylesheet_link_tag "slick/slick.css",  media: "all" %>
    <%= stylesheet_link_tag "select2/select2.min.css",  media: "all" %>
    <%= stylesheet_link_tag "perfect-scrollbar/perfect-scrollbar.css",  media: "all" %>

    <!-- Main CSS-->
    <%# <link href="theme.css" rel="stylesheet" media="all"> %>
    <%= stylesheet_link_tag "theme.css",  media: "all" %>


</head>
<body class="animsition">
    <div class="page-wrapper">
       

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <%= image_tag("logo-unb.png",alt: 'Avaliacao', class: "logo") %>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                    <li>
                            <a href="import.html">
                                <i class="fas fa-database"></i>Importar Dados</a>
                        </li>


                        <li>
                            <a href="Turmas">
                                <i class="fas fa-group"></i>Turmas</a>
                        </li>
                        
                    <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-file-text"></i>Templates</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                <%= link_to "Pendentes", new_user_session_path%>
                                </li>
                                <li>
                                    <%= link_to "Respondidos", new_user_registration_path%>
                                </li>
                            </ul>
                        </li>
                    </li>
                    <li>
                            <a href="share_template">
                                <i class="fas fa-share"></i>Envio</a>
                        </li>
                    </li>

                      
                    
                    <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Resultados</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Pesquise por formulários &amp; templates..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                   
                                    </div>
                                    
                                    
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                      
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"> Coordenador</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                           
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Coordenador</a>
                                                    </h5>
                                                    <span class="email">coordenador@gmail.com</span>
                                                </div>
                                            </div>
                                           
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- 
                IN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       <div class="row justify-content-center align-items-center">
                            <div class="col-lg-7">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <strong >Opções para Envio</strong> 
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                           
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Professores</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="select" id="select" class="form-control">
                                                        <option value="0">Template</option>
                                                        <option value="1">Template 1</option>
                                                        <option value="2">Template 2</option>
                                                    </select>
                                                </div>
                                            </div>

                                             <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Alunos</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="select" id="select" class="form-control">
                                                        <option value="0">Template</option>
                                                        <option value="1">Template 1</option>
                                                        <option value="2">Template 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                          
                                           <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Turmas</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="select" id="select" class="form-control">
                                                        <option value="0">Turma</option>
                                                        <option value="1">Turma 1</option>
                                                        <option value="2">Turma 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                          

                                          
                                            <!-- <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-multiple-input" class=" form-control-label">Multiple File input</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-multiple-input" name="file-multiple-input" multiple="" class="form-control-file">
                                                </div> -->
                                            </div>
                                            <div class="card-footer justify-content-center align-items-center text-center">
                                                <button type="reset" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-ban"></i> Cancelar
                                                </button>
                                                  <button type="submit" class="btn btn-success btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Enviar
                                                </button>
                                            </div>
                                            
                                        </form>
                                    </div>
                            
                                </div>
                                </div>
                            </div>
                        </div>
               
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <%= javascript_include_tag 'jquery-3.2.1.min.js' %>
    <%# <script src="jquery-3.2.1.min.js"></script> %>
    <!-- Bootstrap JS-->
    <%= javascript_include_tag 'bootstrap-4.1/popper.min.js' %>
    <%= javascript_include_tag 'bootstrap-4.1/bootstrap.min.js' %>

   
    <!-- Vendor JS       -->
    <%= javascript_include_tag 'slick/slick.min.js' %>

    <%# <script src="slick/slick.min.js" %>
    <%# </script> %>
    <%= javascript_include_tag 'slick/slick.min.js' %>

    <%= javascript_include_tag 'wow/wow.min.js' %>

    <%# <script src="wow/wow.min.js"></script> %>
    <%= javascript_include_tag 'animsition/animsition.min.js' %>
    <%= javascript_include_tag 'bootstrap-progressbar/bootstrap-progressbar.min.js' %>
    <%= javascript_include_tag 'counter-up/jquery.waypoints.min.js' %>
    <%= javascript_include_tag 'counter-up/jquery.counterup.min.js' %>
    <%= javascript_include_tag 'circle-progress/circle-progress.min.js' %>
    <%= javascript_include_tag 'perfect-scrollbar/perfect-scrollbar.js' %>
    <%= javascript_include_tag 'chartjs/Chart.bundle.min.js' %>
    <%= javascript_include_tag 'select2/select2.min.js' %>
 
    <!-- Main JS-->
    <%= javascript_include_tag 'main.js' %>

    <%# <script src="js/main.js"></script> %>

</body>

</html>
<!-- end document-->
