<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="overview-wrap">
            <h2 class="title-1">Respostas dos Formulários</h2>
          </div>
        </div>
      </div>
      <br>
      <div>
        <% if @errors.any? %>
          <div>
            <% @errors.each do |e| %>
              <p class="alert alert-warning">
                <%= e %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row m-t-25">
        <% @forms.each do |form| %>
          <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--template">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="text">
                    <h1 class="template-name"><%= form.name %></h1>
                    <h2 style="color: black;">Respostas: 0</h2>
                    <h3><%= form.role.capitalize %></h3>
                    <h3><%= SubjectClass.find_by_id(form.subject_class_id).name %></h3>
                    <h3>Turma: <%= SubjectClass.find_by_id(form.subject_class_id).code %></h3>
                    <div class="icons-container">
                      <i class="fas fa-chart-pie"></i>
                      <i class="fas fa-download"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>