<div id="<%= dom_id materium %>">
  <p>
    <strong>Codigo:</strong>
    <%= materium.codigo %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= materium.semestre %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= materium.nome %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= materium.departamento %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= materium.professor_id %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= materium.aluno_id %>
  </p>

  <p>
    <strong>Forms materia:</strong>
    <%= materium.forms_materia %>
  </p>

</div>
