<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="formbold-form-wrapper">
        <div class="formbold-form-wrapper">
          <%=form_with model: @template, method: :put  do |f|%>
            <div class="form-group form-inline">
              <%= f.label :name, "Nome do template:" , class: "mr-2"%>
              <%= f.text_field :name, class: "form-control form-control-sm",id: "name", value: @template.name %>
            </div>
            <% if @questions %>
              <div>
                <% @questions.each_with_index do |question,index| %>
                  <h2><%= %"Questão #{index+1}"%></h2>
                  <%= render "/template_questions/show", question: question %>
                  <br>
                <% end %>
              </div>
            <% end %>
            <div>
              <%= link_to "Cancelar", templates_path,class:"btn btn-danger btn-sm",   id: 'cancel' %>
              <%= f.button "Salvar" , class:"btn btn-success btn-sm" , name:"save", value:"save",id: "save" %>
              <%= link_to "Adicionar questão", new_template_template_question_path(@template), class: "btn btn-primary btn-sm",name: "add_question", id: "add_question" %>
            </div>
          <% end %>
        </div>
        <%= render '/layouts/flashes' %>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('delete').addEventListener('click', function(e) {
    if (!confirm('Você tem certeza?')) {
      e.preventDefault();
    }
  });
</script>