<%= form_with method: :get, model: @template do |f| %>
  <div>
    <%= f.label :name, "Nome do template:" %>
    <%= f.text_field :name, id: "name", value: @template.name %>
  </div>
  <%= link_to "Adicionar questão", new_template_template_question_path(@template), name: "add_question", id: "add_question" %>
  <% if @questions %>
    <div>
      <% @questions.each_with_index do |question,index| %>
        <h2><%= %"Questão #{index+1}"%></h2>
        <%= render "/template_questions/show", question: question %>
        <br>
      <% end %>
    </div>
  <% end %>
  <%= @errors%>
  <div>
    <%= f.button 'Excluir', name: "commit", value: "delete" ,id: "delete" %>
    <%= link_to "Cancelar", templates_path,  id: 'cancel' %>
    <%= f.button "Salvar" , name: "commit", value: "save" , id: "save" %>
  </div>
<% end %>
