<!DOCTYPE html>
<html>
<head>
<title>Templates</title>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
  }
  h1 {
    color: #333;
  }
  .template-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .template-item {
    background-color: #fafafa;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .template-item a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  .template-item a:hover {
    text-decoration: underline;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  .button:hover {
    background-color: #0056b3;
  }
</style>
</head>
<body>
<main>
  <% if current_user %>
    <h1>Templates</h1>
    <p><%= link_to 'Criar um novo template', new_template_path, class: 'button' %></p>
    <ul class="template-list">
      <% @templates.each do |template| %>
        <li class="template-item">
          <%= link_to template.nome, template_path(template) %>
        </li>
      <% end %>
    </ul>
    <p><%= link_to 'Voltar para página anterior', root_path, class: 'button' %></p>
  <% else %>
    <p>Você não está logado.</p>
    <%= link_to "Sign Up!", new_user_registration_path, class: "button" %>
    <br/>
    <%= link_to "Login", new_user_session_path, class: "button" %>
  <% end %>
</main>
</body>
</html>