<%= form_with method: :get  do |q| %>
  <div>
    <%= q.label :nome_template, "Nome do template:" %>
    <%= q.text_field :nome_template, id: "nome_template", value: @nome_template %>
  </div>
  <%= q.label :opcoes, "Tipo de questão:" %>
  <%= q.select :opcoes, options_for_select([['Selecione'], ['Múltipla escolha', 'multiple_choice'], ['Texto', 'text']]), {}, id: "opcoes" %>
  <div id="choices_field" style="display: none;">
    <%= q.label :escolhas, "Número de opções:" %>
    <%= q.number_field :escolhas, in: 1..5, step: 1, value: 1, id: "escolhas" %>
  </div>
  <%= q.button "Adicionar questão", id: "adicionar_questao" %>
<% end %>
<%= form_with method: :get, model: @template do |f| %>
  <div>
  </div>
  <div>
    <% @questions.each do |question| %>
      <%= render "edit_question", question: question %>
    <% end %>
  </div>
  <div>
    <%= f.button "Cancelar", name: "commit", value: "cancel",  id: 'cancel_button' %>
    <%= f.submit "Salvar", id: "save", type: "button" %>
  </div>
<% end %>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const opcoesSelect = document.getElementById('opcoes');
    const escolhasField = document.getElementById('choices_field');

    opcoesSelect.addEventListener('change', () => {
      escolhasField.style.display = opcoesSelect.value === 'multiple_choice' ? 'block' : 'none';
    });
  });
</script>