<%= form_with method: :get, model: @template do |f| %>
  <%= f.label :opcoes, "Tipo de questão:" %>
  <%= f.select :opcoes, options_for_select([['Selecione',''], ['Múltipla escolha', 'multiple_choice'], ['Texto', 'text']]), {}, id: "opcoes" %>
  <div id="choices_field" style="display: none;">
    <%= f.label :escolhas, "Número de opções:" %>
    <%= f.select :escolhas, options_for_select('1'..'5') %>
  </div>
  <%= f.button "Adicionar questão", id: "adicionar_questao" %>
</></>
<div>
  <%= f.label :template_name, "Nome do template:" %>
  <%= f.text_field :template_name, id: "template_name", value: @template_name %>
</div>
<div>
  <% @questions.each do |question| %>
    <%= render "edit_question", question: question %>
  <% end %>
</div>
<div>
  <%= f.button "Descartar", name: "commit", value: "cancel",  id: 'cancel' %>
  <%= f.button "Salvar" , name: "commit",value:"save",id: "save" %>
</div>
<% end %>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const opcoesSelect = document.getElementById('opcoes');
    const escolhasField = document.getElementById('choices_field');

    opcoesSelect.addEventListener('change', () => {
      escolhasField.style.display = opcoesSelect.value === 'multiple_choice' ? 'block' : 'none';
    });
  });
</script>