<!DOCTYPE html>
<html>
<head>
  <title>Your Application Name</title>
  </head>
<body>


  <main>
    <h1>Welcome to MyApp!</h1>
    <%if current_user %>
      <% if current_user.admin?%>
        <h1> voce é admin!</h1>
      <%end%>
      <% if @materia.any? %>
        <h2>Featured Subjects</h2>
        
        <% @materia.each do |materia| %>
          <li>
            <b>Disciplina:</b> <%= materia[:codigo] %> - <%= materia[:nome] %>
          </li>
        <% end %>
        
      <% end %>
      <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
      <%= link_to "templates", templates_path %>
    <% else %>
      <p>you are not signed in.</p>
      <%= link_to "Sign Up!", new_user_registration_path%>
      <br/>
      <%= link_to "Login", new_user_session_path%>
    <%end %>
    

  </main>

</body>
</html>
