<%= stylesheet_link_tag "index.css" %>
 
<div class="wrapper fadeInDown">
  <div id="formContent">
    <%= image_tag("logo-unb.png",alt: 'Avaliacao', class: "logo",width: 300, height: 150) %>
   <br>
    <h1> Bem vindo ao <h1>
    <h1> CAMAAR</H1>
    <form>
      <div class="submit-container mt-3">
      
       <%= form_with url: 'login', method: :post do %>
      <%= submit_tag "Usuário", class: "submit-login", value:"Usuário" ,type: :submit%>
      <% end %>
      <%= form_with url: 'users/register', method: :get do %>
      <%= submit_tag "Coordenador", class: "submit-register",value:"Admin",type: :submit %>
      <% end %>
      </div>
    </form>
<%# 
    <div id="formFooter">
      <a class="underlineHover" href="users/recover-password/new/">Esqueceu a senha?</a>
    </div> %>

  </div>
</div>

