<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CENTRAL</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #1C1C1C; /* Cor de fundo */
      font-family: Arial, sans-serif;
    }

    .square {
      width: 300px;
      background-color: #DCDCDC;
      border-radius: 10px;
      text-align: center;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: white;
    }

    .custom-button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: #DCDCDC;
      background-color: #DCDCDC;
      border: none;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .custom-button:hover {
      background-color: #DCDCDC;
      color: #DCDCDC;
    }
    
    .btn-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
<h2>Primeiro acessoooo</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "field-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "fulano@aluno.unb.br", class: "field-input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "field-label" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Sua senha secreta", class: "field-input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "field-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirme sua senha", class: "field-input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "submit-button", data: { turbo: false } %>
  </div>
<% end %>

<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>
</div>
</body>
</html>



  
