<div id="<%= dom_id resposta %>">
  <p>
    <strong>Id questao:</strong>
    <%= resposta.id_questao %>
  </p>

  <p>
    <strong>Id formulario:</strong>
    <%= resposta.id_formulario %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= resposta.usuario %>
  </p>

  <p>
    <strong>Resposta:</strong>
    <%= resposta.resposta %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= resposta.numero %>
  </p>

</div>
