<p style="color: green"><%= notice %></p>

<h1>Formulario templates</h1>

<div id="formulario_templates">
  <% @formulario_templates.each do |formulario_template| %>
    <%= render formulario_template %>
    <p>
      <%= link_to "Show this formulario template", formulario_template %>
    </p>
  <% end %>
</div>

<%= link_to "New formulario template", new_formulario_template_path, id: "force-reload-link" %>
<br><br>
<a href="<%= edit_template_path %>" class="button">Edit Template</a>

<script>
  document.getElementById("force-reload-link").addEventListener("click", function(event) {
    event.preventDefault();
    window.location.href = this.href + "?timestamp=" + new Date().getTime();
  });
</script>


