<% if form_question.question_type == "multiple_choice" %>
  <div class="formbold-mb-5">
    <label for="<%= form_question.id %>" class="formbold-form-label">
      <%= form_question.title %>
    </label>
    <div class="formbold-radio-flex">
      <% JSON.parse(form_question.body).with_indifferent_access["options"].each do |option, value| %>
        <% if value.present? %>
          <% checked = JSON.parse(answer.answers)["answers"][option] %>
          <div class="formbold-radio-group">
            <label for="<%= "#{question_number}_#{option}" %>" class="formbold-radio-label">
              <% option_id = "question_#{question_number}_option_#{option}" %>
              <% if checked %>
              
                <input type="radio"  checked disabled id="<%= option_id%>"/>
              <% else %>
                <input type="radio"  disabled id="<%=option_id%>"/>
              <% end %>
              <%= value %>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% elsif form_question.question_type == "text" %>
  <div class="formbold-input-flex">
    <div>
      <label for="<%= question_number %>" class="formbold-form-label">
        <%= form_question.title %>
      </label>
      <span class="formbold-form-input" id="<%= question_number %>">
        <%= JSON.parse(answer.answers)["answers"] %>
      </span>
    </div>
  </div>
<% end %>
