 <% if form_question.question_type == "multiple_choice" %>
   <div>
    <label for="<%= form_question.id %>" class="formbold-form-label">
      <%= form_question.title %>
    </label>
    <div class="formbold-radio-flex">
      <% JSON.parse(form_question.body).with_indifferent_access["options"].each do |option, value| %>
        <% if value.present? %>
          <div class="formbold-radio-group">
            <input type="radio" name="question_<%= form_question.id %>" value="<%= "#{option}" %>" id="<%= "#{form_question.id}_#{option}" %>">
            <label for="<%= "#{form_question.id}_#{option}" %>" class="formbold-radio-label">
              <%= value %>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% elsif form_question.question_type == "text" %>
  <div class="formbold-input-flex">
    <div>
      <label for="<%= form_question.id %>" class="formbold-form-label">
        <%= form_question.title %>
      </label>
      <input
        type="text"
        name="question_<%= form_question.id %>"
        id="<%= form_question.id %>"
        placeholder="Digite..."
        class="formbold-form-input"
        />
      </div>
    </div>
  <% end %>