<div class = "main_block">
    <div class = "left_block">
        <div class="mb-3">
        <h2> <%=form_title%> </h2> 
            <label for="exampleFormControlInput1" class="form-label fm"> <%=label_1%>  </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=<%=ph_1%>  >
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> <%=label_2%> </label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder=<%=ph_2%>>
                <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3 subbtn"><%=bttn_txt%></button>
            </div>
        </div>
    </div>  
    <br><br>

    <div class ="right_block">
        <h1>Bem-vindo ao CAAMAR</h1>
    </div>
</div>