<!--
<%=render'form', form_title: "Definir senha",label_1:"Senha",ph_1:"senha",
label_2:"Confirmar senha",ph_2:"Confirmar senha",bttn_txt:"Confirmar"%> -->


<div class = "main_block">
    <div class = "left_block">
      
      <div class ='mb-3'>
        <h2>Definir senha</h2>
          <%= form_with(model: @usuario, url:usuario_path(@usuario), method: :patch) do |form| %>
            <% if @usuario.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this usuario from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.label :senha, 'Senha', :for=> "exampleFormControlTextarea1",class:"form-label fm",style: "display: block" %>
            <%= form.password_field :senha,:class => "form-control", :id=>"exampleFormControlInput1" %>
          </div>
        </div>

        <div class="mb-3">
          <div>
            <%= form.label :senha_confirmation, 'Confirmar senha', :for=> "exampleFormControlTextarea1",style: "display: block" %>
            <%= form.password_field :senha_confirmation,:class => "form-control", :id=>"exampleFormControlInput1"%>
          </div>
        </div>
        <div>
          <%= form.submit 'Change Password' ,:class => 'btn btn-primary mb-3 subbtn'%>
        </div>
      </div>
      <div class ="right_block">
          <h1>Bem-vindo ao CAAMAR</h1>
      </div>
  <% end %>


</div>
