<!-- app/views/sessions/login.html.erb -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%= stylesheet_link_tag 'recuperar_senha', media: 'all' %>
</head>
<body>
<div id="container">
  <% if flash[:notice].present? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_with(url: login_path, method: :post, id: 'login_form') do %>
    <div id="login_user">
      <h1>LOGIN</h1>
      <div>
        <label for="username">Email</label> <br />
        <%= text_field_tag :username, nil, id: 'username', placeholder: 'Nº de matricula', required: true %>
      </div>
      <div class="senha_input">
        <label for="password">Senha</label> <br />
        <%= password_field_tag :password, nil, id: 'senha_pass', placeholder: 'Senha' %>
        <%= image_tag 'olho_aberto.svg', class: 'olho_aberto', id: 'olho_senha', onclick: 'mostrar_ocultar()' %>
      </div>
      <div>
        <a href="<%= url_for(controller: :pages, action: :recuperar_senha) %>">Esqueci a senha</a>
      </div>
      <div>
        <button class="bnt_enviar" type="submit">Entrar</button>
      </div>
    </div>
    <div id="mensagen_login">
      <div class="text_mesage">
        <p>Bem vindo ao Camaar</p>
      </div>
    </div>
  <% end %>
</div>
#<%= javascript_include_tag 'main' %>
</body>
</html>
