<!DOCTYPE html>
<html>
<head>
  <title>Sua Aplicação</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
</head>
<body>

  <% unless controller_name == 'authentication' || controller_name == 'registrations' %>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/evaluations">Quick Class Evall</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if admin_user? %>
            <li class="nav-item active">
              <%= link_to "Área do Gestor", manager_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to "Área de Avaliações", evaluations_path, class: "nav-link" %>
          </li>
        </ul>
        <div class="custom-button-container d-flex justify-content-start">
          <%= button_to "Redefinir senha", redefine_password_path, method: :get, class: "btn btn-outline-primary mr-2" %>
          <%= button_to "Logout", logout_path, method: :post, class: "btn btn-outline-danger" %>
        </div>
      </div>
    </nav>
  <% end %>

  <div class="container mt-5">
    <%= yield %>
  </div>

</body>
</html>
